# Database
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=mgl_connect
DATABASE_SCHEMA=public

# Application
APP_NAME=MGL Connect
APP_VERSION=1.0.0
VERSION=1.0.0
DEBUG=true
